[submodule ".registry"]
	path = .registry
	url = https://github.com/guillaumepressiat/guillaumepressiat.r-universe.dev
	branch = HEAD
[submodule "nomensland"]
	path = nomensland
	url = https://github.com/GuillaumePressiat/nomensland
[submodule "pmeasyr"]
	path = pmeasyr
	url = https://github.com/GuillaumePressiat/pmeasyr
[submodule "stringfix"]
	path = stringfix
	url = https://github.com/GuillaumePressiat/stringfix
